/*
    Global CSS rules
*/

:root {
--green: #14502C;
--lime:#CED649;
--orange:#CD5328;
--creamsicle:#FF8849;
--blue:#005293;
--lBlue:#BBE7E6;
--yellow:#FADA63;
--lGrey: #BBBCBB;
--dGrey:#5F6163;
--white: #fff;
--black: #000;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    position: fixed;
    grid-template-columns: 15%;
    position: fixed;
}

main {
    position: relative;
    z-index: 1;
    grid-column: 2/-1;
    grid-row: 1/-1;
}

/*
    Background Map
*/

#world-map {
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*
    Left Sidebar
*/

.left-sidebar {
    z-index: 5;
    background-color: white;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    grid-column: 1/2;
    grid-row: 1/-1;
}

.sidebar-logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.sidebar-title {
    position: relative;
    width: 100%;
}

.sidebar-title h1 {
    text-align: center;
    padding: .75rem 0;
    font-size: 120%;
    margin: 0;
    background-color: var(--lime);
    color: var(--blue);
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
}

.sidebar-title h1:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 0;
    border-top: 40px solid var(--green);
    border-right: 75px solid transparent;
    z-index: -1;
}

.sidebar-tagline {
    text-transform: uppercase;
    width: 100%;
    background: var(--blue);
    color: var(--white);
    margin: 0;
    font-size: 125%;
    line-height: 1;
    padding: 4rem .5rem 1rem 1rem;
}

.sidebar-facts {
    text-align: center;
    width: 100%;
    padding: 1rem 1rem 1rem;
    color: var(--blue);
}

.sidebar-facts h2 {
    font-size: 1rem;
}

.sidebar-facts h3 {
    font-size: 3.5rem;
    margin: 0;
    line-height: 1;
}

.sidebar-facts p {
    color: var(--creamsicle);
    margin: 0;
}

.facts-img {
    width: 25%;
    margin-bottom: 10px;
    padding-right: .25px;
}

.sidebar-facts div {
    position: relative;
    padding: 1rem 0 1rem;
}

.sidebar-facts div:after {
    content: '';
    width: 65%;
    height: 1px;
    background: var(--lGrey);
    position: absolute;
    bottom: 0;
    left: 17%;
}

.sidebar-comission {
    text-align: right;
    color: var(--blue);
    padding: 0 1rem;
}

.sidebar-comission p {
    font-size: 1.5rem;
    line-height: 1;
    position: relative;
    z-index: 2;
}

.sidebar-comission p:before {
    content: "";
    background: url(../images/logos/qm.png) no-repeat;
    width: 30px;
    height: 40px;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.sidebar-comission span {
    display: inline-block;
    font-size: .75rem;
    line-height: 1;
}

.sidebar-explore {
    width: 100%;
    border-top: 1px solid var(--lGrey);
    padding: 1rem;
}

.sidebar-explore h2 {
    text-transform: uppercase;
    color: var(--dGrey);
    font-size: 1rem;
    text-align: center;
}

.sidebar-explore a {
    text-decoration: none;
    text-align: right;
    color: var(--dGrey);
    background: rgb(240,240,240);
    font-size: .65rem;
    display: block;
    width: 100%;
    padding: .5rem 1.5rem .5rem 0;
    position: relative;
    margin-top: 5px;
}

.sidebar-explore a:after {
    content: url(../images/logos/arrow.svg);
    width: 8px;
    height: 12px;
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar-interest {
    width: 100%;
    background: var(--lime);
    text-align: center;
    padding: 1rem;
    color: var(--white);
}

.sidebar-interest h2 {
    color: var(--white);
    font-size: 1rem;
    margin-bottom: 0;
}

.sidebar-interest a {
    background: var(--green);
    width: 100%;
    color: var(--white);
    text-decoration: none;
    font-size: .65rem;
    padding: .5rem;
    display: block;
}

/*
    Loading Overlay
*/

.load-overlay {
    position: absolute;
    background-color: white;
    z-index: 9999;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.load-overlay .spinner-grow {
    height: 5rem;
    width: 5rem;
    transition: .01s transform;
}

.spinner-grow.full-grow {
    position: absolute;
    transform: scale(50);
    animation: 1s linear 3 spinner-grow;
}

/*
    Utility classes
*/

.logo {
    width: 100%;
}